<div class="container d-flex">
  <div class="row">
    <% @cocktails.each do |element| %>
      <div class="col-4">
        <div class="card  m-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= "#{element.name}"  %></h5>
            <a href="<%= "/cocktails/#{element.id}" %>" class="btn btn-secondary">Check out <%= "#{element.name}"  %>!</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
        


